{
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "modules": true
  },
  "rules": {
    "indent": [2, 2],
    "max-len": 0,
    "quotes": 0,
    "semi": [2, "never"],
    "no-unused-vars": 2,
    "no-undef": 2,
    "no-console": 0,
    "no-trailing-spaces": 0,
    "curly": 0,
    "camelcase": 0,
    "new-cap": [1, {"newIsCap": true, "capIsNew": false}],
  }
}
